<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CalculatorServiceProvider" type="DSP.DataProviderConfigurationSection, DSP" />
	</configSections>

	<CalculatorServiceProvider defaultProvider="Real">
		<providers>
			<add serviceUrl="http://www.dneonline.com/calculator.asmx" uddiEnabled="true" useClientCertificate="true" serviceOperationTimeout="60" name="Real"
				 type="DSP.CalculatorService.CalculatorServiceProvider, DSP" />
		</providers>
	</CalculatorServiceProvider>
</configuration>